.user-info{
    padding: 84px 0 80px 10px;
    display: flex;

    img{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border-width: 6px;
        border-color: #2f343a;
        border-style: solid;
        cursor: pointer;
    }

    .meta{
        padding-left: 17px;

        .name{
            color: #909090;
            line-height: 43px;
            font-size: 18px;
        }

        span{
            color: #fff;
            display: inline-block;
            height: 27px;
            padding: 0 17px;
            background-color: #10a0f2;
            border-radius:100px;
            line-height: 27px;
            font-size: 14px;
        }
    }
}

.logout {
    position: absolute;
    left: 50%;
    bottom: 60px;
    margin-left: -70px;
    width: 165px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    background-color: #2d3339;
    border: none;
    outline: none;
    cursor: pointer;
}